// Components
@import "./components/example";
@import "./components/header";
@import "./components/footer";
@import "./components/login";
@import "./components/not-found";

// Views
@import "./views/layout";

.dark-body {
    background-color: #1A1C1E;
    transition: all ease 0.2s;
}

.clear-body {
    background-color: white;
    transition: all ease 0.2s;
}

.dark-body > p {
    color: white;
}
