.footer-container, .footer-container-dark {
    width: 100%;
    height: 200px;
    background-color: #FFF;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 8px 28px;
    border-top: 0.2px solid #09090b2c;
    margin-top: auto;
}

.footer-container-dark {
    background-color: #2a2d30;
    color: white;
}

.footer-link-logo {
    margin-top: auto;
    margin-bottom: auto;
}


.footer-logo, .footer-logo-dark {
    width: 243px;
    height: 48px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: all ease 0.2s;
    margin: auto;
}

.footer-logo {
    background-image: url('https://www.hauts-de-seine.fr/fileadmin/user_upload/Logo/logoHautsDeSeine2022.png');
}

.footer-logo-dark {
    background-image: url('https://www.hauts-de-seine.fr/typo3conf/ext/e_magineurs/PortailCD92/Resources/Public/Images/logo-hauts-de-seine-300x59.png');
}

.footer-logo:hover, .footer-logo-dark:hover {
    opacity: 0.9;
    transition: all ease 0.2s;
}

.footer-links-container {
    display: flex;
    gap: 16px;
}

.footer-link {
    height: fit-content;
    margin: auto;
    padding: 8px 28px;
    border-radius: 8px;
    transition: all ease 0.2s;
    font-size: 14px;
}

.footer-link:hover {
    background-color: #09090b2c;
    transition: all ease 0.2s;
}

@media (max-width: 1024px) {
    .footer-container {
        grid-template-columns: none;
    }

    .footer-link {
        margin-left: none;
    }

    .footer-links-container {
        flex-wrap: wrap;
    }

    .footer-logo {
        width: 200px;
        height: 53px;
    }
}