.header-logo, .cross-burger-menu, .burger-menu-btn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-container {
    height: fit-content;
    padding: 8px 28px;
    border-bottom: 0.2px solid #09090b2c;
    display: grid;
    grid-template-columns: 40% 60%;
    position: fixed;
    width: 100%;
    background-color: #FFF;
}

.header-logo {
    width: 243px;
    height: 48px;
    background-image: url('https://www.hauts-de-seine.fr/fileadmin/user_upload/Logo/logoHautsDeSeine2022.png');
    border-radius: 8px;
    cursor: pointer;
    transition: all ease 0.2s;
}

.header-logo:hover {
    opacity: 0.9;
    transition: all ease 0.2s;
}

.links-container {
    display: flex;
    gap: 16px;
}

.header-link {
    height: fit-content;
    margin: auto;
    padding: 8px 28px;
    border: 0.2px solid #09090b2c;
    border-radius: 8px;
    transition: all ease 0.2s;
    font-size: 14px;
}

.header-link:hover {
    border: 0.2px solid #09090b00;
    background-color: #09090b2c;
    transition: all ease 0.2s;
}

.burger-menu-enabled, .burger-menu-disabled {
    display: none;
}

.burger-menu-container {
    z-index: 4;
}

@media (max-width: 1024px) {

    .header-container {
        padding: 8px 16px;
    }

    .header-link {
        display: none;
    }

    .burger-menu-enabled, .burger-menu-disabled {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: #f6f6f6;
        z-index: 3;
        position: fixed;
        transition: all ease-in-out 0.3s;
    }

    .burger-menu-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        z-index: 4;
    }

    .burger-menu-enabled {
        transform: translateX(50%)
    }

    .burger-menu-disabled {
        transform: translateX(100%)
    }

    .cross-burger-menu {
        background-image: url('../../public/cross.svg');
        width: 42px;
        height: 42px;
    }

    .burger-menu-btn {
        display: block;
        background-image: url('../../public/burger-menu.svg');
        width: 42px;
        height: 42px;
        margin-left: auto;
        cursor: pointer;
        margin-top: auto;
        margin-bottom: auto;
    }

    .links-container-burger-menu {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 90%;
        margin-top: 100px;
    }

    .burger-menu-link {
        display: block;
        height: fit-content;
        padding: 16px 28px;
        border: 0.2px solid #09090b2c;
        border-radius: 8px;
        transition: all ease 0.2s;
        font-size: 14px;
        width: 50%;
        margin-left: 8px;
    }

}

@media (max-width: 425px) {
    .burger-menu-enabled {
        transform: translateX(0%)
    }

    .links-container-burger-menu {
        width: 100%;
    }

    .burger-menu-link {
        margin: auto;
        width: 70%;
    }
}