.header-logo, .header-logo-dark, .cross-burger-menu, .dark-cross-burger-menu,
.burger-menu-btn, .dark-burger-menu-btn  {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.logo-link {
    width: fit-content;
}

#dark-laptop-btn {
    margin: auto;
}

.header-container, .header-container-dark {
    height: fit-content;
    padding: 8px 28px;
    border-bottom: 0.2px solid #09090b2c;
    display: grid;
    grid-template-columns: 30% 70%;
    position: fixed;
    width: 100%;
    transition: all ease 0.2s;
    z-index: 2;
}

.header-container {
    background-color: #FFF;
}

.header-container-dark {
    background-color: #2a2d30;
}

.header-logo, .header-logo-dark {
    width: 243px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;
    transition: all ease 0.2s;
}

.header-logo {
    background-image: url('https://www.hauts-de-seine.fr/fileadmin/user_upload/Logo/logoHautsDeSeine2022.png');
}

.header-logo-dark {
    background-image: url('https://www.hauts-de-seine.fr/typo3conf/ext/e_magineurs/PortailCD92/Resources/Public/Images/logo-hauts-de-seine-300x59.png');
}

.header-logo:hover, .header-logo-dark:hover {
    opacity: 0.9;
    transition: all ease 0.2s;
}

.links-container {
    display: flex;
}

.links-container > * {
    min-width: 30px;
}

.header-link {
    height: fit-content;
    margin: auto;
    transition: all ease 0.2s;
    font-size: 14px;
}

.burger-menu-enabled, .burger-menu-disabled {
    display: none;
}

@media (max-width: 1024px) {

    .header-link {
        display: none;
    }

    #dark-laptop-btn {
        display: none;
    }

    .burger-menu-enabled, .burger-menu-disabled {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: #f6f6f6;
        z-index: 3;
        position: fixed;
        transition: all ease-in-out 0.3s;
    }

    .burger-menu-container-dark {
        background-color: #2a2d30;
    }

    .burger-menu-container-dark {
        display: flex;
        flex-direction: column;
        height: 100%;
        z-index: 4;
    }

    .burger-menu-enabled {
        transform: translateX(50%)
    }

    .burger-menu-disabled {
        transform: translateX(100%)
    }

    .cross-burger-menu, .dark-cross-burger-menu {
        width: 42px;
        height: 42px;
    }

    .cross-burger-menu {
        background-image: url('../../public/cross.svg');
    }

    .dark-cross-burger-menu {
        background-image: url('../../public/white-cross.svg');
    }

    .burger-menu-btn, .dark-burger-menu-btn {
        display: block;
        width: 42px;
        height: 42px;
        margin-left: auto;
        cursor: pointer;
        margin-top: auto;
        margin-bottom: auto;
    }

    .burger-menu-btn {
        background-image: url('../../public/burger-menu.svg');
    }

    .dark-burger-menu-btn {
        background-image: url('../../public/white-burger-menu.svg');
    }

    .links-container-burger-menu {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 90%;
        margin-top: 100px;
    }

    .burger-menu-link {
        display: block;
        height: fit-content;
        transition: all ease 0.2s;
        font-size: 16px;
        width: 50%;
        margin-left: 8px;
        text-align: start;
    }

}

@media (max-width: 425px) {
    .burger-menu-enabled {
        transform: translateX(0%)
    }

    .links-container-burger-menu {
        width: 100%;
    }

    .burger-menu-link {
        margin: auto;
        width: 70%;
        font-size: 18px;
    }
}